/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*--------------------------------------------------------
Commons
--------------------------------------------------------*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

  
@font-face {
	font-family: 'AvenirLTStd-Medium';
	src: url('../fonts/2CFB09_0_0.eot');
	src: url('../fonts/2CFB09_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2CFB09_0_0.woff2') format('woff2'),
	url('../fonts/2CFB09_0_0.woff') format('woff'),
	url('../fonts/2CFB09_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'AvenirLTStd-Book';src: url('fonts/2CFB09_1_0.eot');
	src: url('../fonts/2CFB09_1_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2CFB09_1_0.woff2') format('woff2'),
	url('../fonts/2CFB09_1_0.woff') format('woff'),
	url('../fonts/2CFB09_1_0.ttf') format('truetype');
}
 

::-moz-selection {background: #b0b825;color: white; }
::selection {background: #b0b825;color: white; }

body {
	background: white;
	font: 13px 'Open Sans', sans-serif;
	color: darkslategray;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	/* removed Jan 22 by Sam
	padding-top: 30px; /* IE6 workaround*/
	
    height: 0;
	overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.scaleimg {
	width: 100%;
    height: auto;
}

.hidden {
	display: none;
}

.vertical-text {
	display: inherit;
	vertical-align: middle;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
}

.pattern {
	background: url(../images/pattern.png);
	width: 100%;
	position: relative;
}

	/*Buttons------------------------------------------*/

	.button {
		width: auto;
		background: #1c1f26;
		color: white;
		cursor: pointer; 
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
		outline: none;
		padding: 11px 20px 11px;
		position: relative;
		text-align: center;
		text-decoration: none;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-transition: background-color 0.15s ease-in-out;
		-moz-transition: background-color 0.15s ease-in-out;
		-o-transition: background-color 0.15s ease-in-out;
		transition: background-color 0.15s ease-in-out;
	}
	
	.button:hover {
		background-color: #b0b825;
	}
	
	.button:active {
		background-color: #666b26;
	}
	
	.button:focus {
		background-color: #b0b825;
	}
	
	.button.large {
		font-size: 16px;
		padding: 14px 30px 14px;
	}
	
	.button.small {
		font-size: 10px;
		padding: 6px 10px 6px;
	}


	/*Forms------------------------------------------*/

	form {
		margin-bottom: 20px;
	}
	
	fieldset {
		margin-bottom: 20px;
	}
	
	input, textarea {
		border: 1px solid #ccc;
		padding: 10px 10px;
		outline: none;
		color: #868991;
		margin: 5px 0 0 0;
		width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fafafa;
		font-size: 13px;
		text-transform: none;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
	
	textarea {
		min-height: 100px;
	}
	
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #868991;
 		color: #1c1f26;
 		background: white;
 		-moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
		box-shadow:  0 0 4px rgba(0,0,0,.2);
	}
	
	input.error {
		border: 1px solid #c60f13;
		background: #f9e7e8;
	}
	
	input.error[type="text"]:focus,
	input.error[type="password"]:focus,
	input.error[type="email"]:focus {
 		border: 1px solid #c60f13;
	}
	
	legend {
		display: block;
		font-weight: 600;
		font-size: 14px;
	}
	


/*--------------------------------------------------------
Typography
--------------------------------------------------------*/

h1, h2, h3, h4, h7 {
	text-transform: none;
	font-weight: 400;
	color: 3e3e3e;
}

/*--------------------------------------------------------
Leave for Monday

h1, h3, h4 {
	cursor: crosshair;
}

--------------------------------------------------------*/

h1 {
	font-family: 'AvenirLTStd-Medium', sans-serif;
	font-size: 32px;
	text-transform: capitalize;
	position: relative;
	margin-bottom: 7px;
	text-transform: uppercase;

}

h1.white {
	color: white;
}

h2 {
	font-family: 'AvenirLTStd-Medium', sans-serif;
	font-size: 44px;
	text-transform: none;
	position: relative;
}

h2.white {
	color: white;
	text-transform: none;
}

h2.press {
	text-transform: none;
}


h3 {
	font-family: 'AvenirLTStd-Medium', sans-serif;
	font-size: 22px;
	text-transform: uppercase;

}

h3.white {
	color: white;
}

h4 {
	font-family: 'AvenirLTStd-Medium', sans-serif;
	font-size: 22px;
	margin-bottom: 5px;
	text-align: left;
	text-transform: uppercase;

	
}

h7 {
	font-family: 'AvenirLTStd-Medium', sans-serif;
	font-size: 22px;
	margin-bottom: 5px;
	text-align: center;
	color: darkslategray;
}

h5 {
    font-size: 70%;
    position: relative;
    text-transform: none;
	text-align: center;
	
	
	}

h6 {
	color: #A5A8B0;
    font-size: 65%;
    margin-top: 26px;
	text-transform: none;
	text-align: center;
	line-height: 1.4;
	}
	
h8 {
	padding-top: 0;
    position: absolute;
    text-transform: uppercase;
	
	}

p {
	margin-top: 10px;
	font-family: 'AvenirLTStd-Book', sans-serif;
}

p a {
	color: #A5A8B0;
	text-decoration: none;
	text-transform: none;
}

p a:hover {
	color: #a5ad25;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}

/*--------------------------------------------------------
Added by Sam Jan/22
--------------------------------------------------------*/

h1, h2, h3, h4 {
	
	cursor: default;

}


/*--------------------------------------------------------
Navigation
--------------------------------------------------------*/

nav {
	background: url(../images/nav-bg2.png);
	width: 100%;
	position: relative;
	z-index: 1000;
	height: 50px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.links {
	height: 45px;
	display: table-cell;
	vertical-align: middle;
}

.links li {
	display: inline;
	margin: 0 15px 0 0;
}

.links a {
	font-family: 'AvenirLTStd-Book', sans-serif;
	font-size: 14px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.links a:visited {
	color: white;
}

.links a:hover {
	color: #b0b825;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}

.links img {
	margin-left: 22px;
	width: 18px;
	height: 18px;
	opacity:0.3;
}

.links img:hover {
	opacity:1; 
}

.social-icons {
	text-align: right;
	margin-top: 15.5px;
}

.social-icons li {
	display: inline-block;
	margin: 0 0 0 6px;
}

.social-icons img {
	background: url(../images/social-icons-bg.png);
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}

.social-icons img:hover {
	background-color: #a5ad25;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: wbackground-color 0.5s;
}

.dropmenu {
	display: none;
}

.links2 {
	height: 45px;
	display: table-cell;
	vertical-align: middle;
}

.links2 li {
	display: inline;
	margin: 0 15px 0 0;
}

.links2 a {
	font-family: Helvetica;
	font-size: 11px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.links2 a:visited {
	color: white;
}

.links2 a:hover {
	color: #b0b825;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}

.links2 img {
	margin-left: 22px;
	width: 18px;
	height: 18px;
	opacity:0.3;
}

.links2 img:hover {
	opacity:1; 
}


.spherical {
	font-family: 'AvenirLTStd-Book', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: lowercase;
}


.logo {
	
	
	}


/*--------------------------------------------------------
Parallax
--------------------------------------------------------*/


#parallax1 {
	width: 100%;
	height: 700px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}

#parallax2 {
	width: 100%;
	height: 400px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}

#parallax3 {
	width: 100%;
	height: 600px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}

#parallax4 {
	width: 100%;
	height: 400px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}

#parallax5 {
	width: 100%;
	height: 400px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}

#parallax1 .vertical-text,
#parallax2 .vertical-text,
#parallax3 .vertical-text,
#parallax4 .vertical-text,
#parallax5 .vertical-text,
#parallax1 .pattern,
#parallax2 .pattern,
#parallax3 .pattern,
#parallax4 .pattern,
#parallax4 .pattern, {
	height: auto;
}


	/*Parallax1------------------------------------------*/
	
	.bg1 {
		background: url(../images/parallax/teaser1.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	p.prlx-quote {
	font-family: "AvenirLTStd-Book", sans-serif;
	font-size: 30px;
	line-height: 2;
	margin-bottom: 20px;
	color: #FFF;
	text-align: center;
	text-transform: none;
	z-index: 200;
	margin: 0 10% 0 10%;
	}
	
	.prlx-author {
	height: 24px;
/*		background: url(../images/quote.png) left no-repeat; */
	width: auto;
	padding-left: 40px;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	line-height: 0.9;
	position: relative;
	margin-top: 26px;
	left: 42%;
	z-index: 200;
	}

/*Parallax2------------------------------------------*/
	
	.bg2 {
		background: url(../images/parallax/teaser2.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	p.prlx-quote {
	font-family: 'AvenirLTStd-Book', sans-serif;
	font-size: 30px;
	line-height: 2;
	margin-bottom: 20px;
	color: #FFF;
	text-align: center;
	text-transform: none;
	z-index: 200;
	margin: 0 10% 0 10%;
	}
	
	.prlx-author {
	height: 24px;
/*		background: url(../images/quote.png) left no-repeat; */
	width: auto;
	padding-left: 40px;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	line-height: 0.9;
	position: relative;
	margin-top: 26px;
	left: 42%;
	z-index: 200;
	}

/*Parallax3------------------------------------------*/
	
	.bg3 {
		background: url(../images/parallax/teaser3.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	p.prlx-quote {
	font-family: "AvenirLTStd-Book", sans-serif;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #FFF;
	text-align: center;
	text-transform: none;
	z-index: 200;
	margin: 0 10% 0 10%;
	}
	
	.prlx-author {
	height: 24px;
/*		background: url(../images/quote.png) left no-repeat; */
	width: auto;
	padding-left: 40px;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	line-height: 0.9;
	position: relative;
	margin-top: 26px;
	left: 42%;
	z-index: 200;
	}

	/*Parallax4------------------------------------------*/
	
	#parallax4 h2 {
	text-align: center;
	margin-bottom: 0px;
	font-family: 'AvenirLTStd-Medium', sans-serif;
	margin-top: 35px;
	color: darkslategrey;
	text-transform: uppercase;
	}
	
	.bg4 {
		background: url(../images/parallax/teaser4.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	.clients {
		text-align: center;
	}
	
	.clients li {
		display: inline;
		margin: 0 15px 0 15px;
		height: 50px;
		opacity:1;
	}
	
	.clients li:hover {
		opacity:0.7;
	}

/*Parallax5------------------------------------------*/
	
	#parallax5 h2 {
	text-align: center;
	margin-bottom: 0px;
	font-family: BebasNeueRegular, sans-serif;
	margin-top: 35px;
	}
	
	.bg5 {
		background: url(../images/parallax/teaser3.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	p.prlx-quote {
	font-family: "AvenirLTStd-Book", sans-serif;
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #757575;
	text-align: left;
	text-transform: none;
	z-index: 200;
	margin: 0 10% 0 0;
	width: 100%;
	}
	
	p.prlx-quote_right {
	font-family: "AvenirLTStd-Book", sans-serif;
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #333333;
	text-align: right;
	text-transform: none;
	z-index: 200;
	margin: 0 10% 0 0;
	width: 100%;
	
	 
	
	}
	
	p.prlx-quote_center {
	font-family: "AvenirLTStd-Book", sans-serif;
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #6D6D6D;
	text-align: center;
	text-transform: none;
	z-index: 200;
	margin: 0 10% 0 0;
	width: 100%;
	}
	
	.prlx-author {
	height: 24px;
/*	background: url(../images/quote.png) left no-repeat; */
	width: auto;
	padding-left: 8px; 
	font-size: 15px;
	font-weight: 600;
	color: #C3C3C3;
	text-transform: uppercase;
	line-height: 0.9;
	position: relative;
	margin-top: 15px;
	left: -1%;
	z-index: 200;
	font-family: 'AvenirLTStd-Book', sans-serif;
	}
	
	.prlx-author_right {
	color: #333333;
    font-size: 15px;
    font-weight: 600;
    height: 24px;
    left: -1%;
    line-height: 0.9;
    margin-top: 8px;
    padding-left: 0;
    
    text-align: right;
    text-transform: uppercase;
    width: 100%;
    z-index: 200;
	
	
	}
	
	.prlx-author_center {
	color: #C3C3C3;
    font-size: 15px;
    font-weight: 600;
    height: 24px;
    left: -1%;
    line-height: 0.9;
    margin-top: 22px;
    padding-left: 0;
    
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 200;
	}
	
	.prlx-author2 {
	height: 24px;
	background: url(../images/quote.png) left no-repeat;
	width: auto;
	padding-left: 40px;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	line-height: 0.9;
	position: relative;
	margin-top: 26px;
	left: 42%;
	z-index: 200;
	}



/*--------------------------------------------------------
Content
--------------------------------------------------------*/

#about, #culture, #services, #team{
	padding-top: 64px;
	position: relative;
	background: white;
}

#about {
		padding-bottom: 80px;

	}
	
	
	#services {
		padding-bottom: 80px;

	}
	
	#team {
		padding-bottom: 80px;

	}

.one-text {
	font-size: 16px;
	line-height: 1.5;
}

.description {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 20px;
}

.columns .img-wrp {
	position: relative;
	border:solid; 
	border-width:1px; 
	border-color: darkslategray;
}

.img-wrp img {
	display: block;
}


.overlay-wrp {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	height: 100%;
	width: 100%;
}

.overlay-wrp .overlay {
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	width: 100%;
}

.overlay {
	background: #2b2b2b;

}
    
	
	/*Homepage------------------------------------------*/
	
	#homepage {
		background: url(../images/pattern.png);
		position: relative;
		overflow: hidden;
		height: 100%;
		margin-bottom: -50px;
	}
	
	#homepage .container {
		height: 100%;
	}
	
	.logo {
	/*Sam took this out Jan 29---------------------------top: 35%;---------------*/
	/*Sam took this out Jan 22---------------------------position: fixed;---------------*/
	/*Sam took this out Jan 29---------------------------left: 39%;---------------*/
	/*Sam took this out Jan 29
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=50);
	top: -176%;
	left: -124%;
	width: 350px;
	height: 99px;---------------*/
	
	 height: 99px;
    left: -30%;
    opacity: 0;
    position: absolute;
    top: -176%;
    width: 350px;

	}
	
	
	.slider-text {
		position: absolute;
		overflow: hidden;
		bottom: 50px;
		min-height: 220px;
	}
	
	#slidecaption { 
		overflow: hidden;
		float: left;
		color: white;
		font: 52px/0.9 "BebasNeueRegular", Helvetica, Arial, sans-serif;
		margin: 0 20px 0 0;
	}
	
	.slidedescription {
		font: 600 14px "Open Sans", Helvetica, Arial, sans-serif;
		margin: 13px 0 0 0;
	}
	
	.line {
		border-bottom: solid white 1px;
		margin-bottom: 36px;
		opacity: 0;
		filter: alpha(opacity=0);
	}	
	
	
	/*About------------------------------------------*/
	
	.container .overlay-content.social-icons {
		text-align: center;
		margin-top: -11px;
		position: absolute;
		top: 20%;
		width: 100%;
		z-index: 10;
	}
	
	.container .overlay-content.social-icons img {
		background: white;
		border-radius: 18px;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		opacity: 0.7;
	}
	
	.container .overlay-content.social-icons img:hover {
		opacity: 1;
		transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
	}
	
	.column .img-wrp {
		position: relative;
		margin: 52px 0 14px 0;
		
	}	
	
	
	.job-position {
		color: #868991;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		margin: -4px 0px 14px 0px;
	}
	



	/*Culrute------------------------------------------*/

	.culture-full {
		/*background: #f0f2f5;
		padding: 60px 0px 60px 0px;
		margin: 53px 0px 0px 0px;*/
	}
	
	#culture h4 {
		/*margin: 54px 0 10px 0;*/
	}


	/*Services------------------------------------------*/
	
	#services h3 {
		text-align: center;
		margin-top: 46px;
	}
	
	#services .description {
	text-align: left;
	}

	.icon {
		width: 160px;
		height: 160px;
		border-radius:160px;
		-webkit-border-radius: 160px;
		-moz-border-radius: 160px;
		margin: 24px auto 24px auto;
		background: #f0f2f5 center center no-repeat;
		margin-bottom: 33px;
	}
	
	
	/*Portfolio------------------------------------------*/
	
	#portfolio h1  {
		margin-bottom: 34px;
	}
	
	.project-title {
		font-family: 'AvenirLTStd-Medium', sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		margin-top: 7px;
	}
	
	.project-description {
		color: #868991;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0 0 20px 0;
	}
	
	.columns .overlay-content.loupe {
		width: 75px;
		height: 20px;
		position: absolute;
		top: 22%;
		margin: -7px 0 0 -17px;
		left: 39%;
		z-index: 10;
		background-color: darkslategray;
		text-align: center;
		font-family: Oswald, sans serif;
		font-size: 12px;
		color: white;
		padding: 2px;
		
	}


	/*Contact------------------------------------------*/

	#contact {
		width: 100%;
		height: auto;
		min-height: 100%;
		position: relative;
		background-color: #1c1f26;
		background: url(../images/contact_bg.jpg) repeat fixed center top;
		background-size: cover;
	}
	
	#contact .pattern {
		height: 100%;
		cursor: default;
	}

	.card {
		width: 100%;
		background: url(../images/nav-bg3.png);
		text-align: center;
		padding: 60px 0;
		margin: 14% 0 100px;
	}
	
	.adress {
		color: #868991;
		font-size: 22px;
		margin-top: 10px;
	}
    
	.lines {
		width: 76%;
		border-top: white 1px solid;
		border-bottom: white 1px solid;
		text-transform: uppercase;
		color: white;
		font-family: 'AvenirLTStd-Medium', sans-serif;
		font-size: 36px;
		
		cursor: default;
		text-align: left;
		/* Sam took out Jan 20 ------------padding: 31px 0 31px 0;---------*/
		padding: 26px 6px 32px;
		margin: 39px auto 40px;
		line-height: .9;
	}

	.contact-social-icons {
		text-align: center;
		padding-top:2%;
	}
	
	.contact-social-icons li {
		display: inline;
		margin: 0 7px 0 7px;
	}
	
	.contact-social-icons img {
		background: url(../images/social-icons-bg.png);
		width: 30px;
		height: 30px;
		border-radius: 60px;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
	}
	
	.contact-social-icons img:hover {
		background-color: #a5ad25;
		transition: background-color 0.5s;
		-moz-transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
		-o-transition: wbackground-color 0.5s;
	}
	
	.copyright {
		background: url(../images/footer-gr.png);
		width: 100%;
		height: 80px;
		position: absolute;
		bottom: 0;
	}
	
	.copyright p {
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		font-size: 11px;
		color: white;
		margin-top: 46px;
	}

/*---added for Vimeo aspect ratio---*/

.videoWrapper {
	position: relative;
	padding-bottom: 40.25%; /* 16:9 */
	padding-top: 25px;
	margin-top: 33px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---added for About us link--*/

/*---added by Sam--*/

.about_us {
	 display: inline;
    left: 40%;
    position: absolute;
    text-decoration: none;
    top: 50%;
}

.enter_link {
   background: url("../images/AboutUs/aboutus_rollover_4.png") no-repeat scroll 0 0 transparent;
    
    padding: 13px 3px 9px 69px;
    text-decoration: none;
    width: 157px;
}

.links_enter a:hover {
	color: #b0b825;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	text-decoration: none;
}

.links_enter img {
	margin-left: 22px;
	width: 18px;
	height: 18px;
	opacity:0.3;
	text-decoration: none;
}

.links_enter img:hover {
	opacity:1;
	text-decoration: none;
}

h2 {
	
	text-transform: none;

}

.presstype {
	
	font-family: 'AvenirLTStd-Book',sans-serif;
    font-size: 22px;
    margin-bottom: 3px;
    margin-top: -10px;
    text-transform: none;
	line-height:40px;
	
	}
	
.about.columns {
	
    font-size: 107%;

}

.email {
	
    text-align: center;
	font-size: 65%;	
}

.portfolio-link {
	color: #fff; 
	text-decoration: none;
}

#portfolio {
	background-color: #fff !important;
}


.four.columns > a {
    text-decoration: none;
}

#portfolio .container {
    padding-bottom: 50px;
}


/* ================== EDITS ========================= */

.about p {
  line-height: 25px;
  letter-spacing: 0.6px;
}

#about .one-text p {
	line-height: 32px;
	letter-spacing: .5px;
}








